.clearfix {
	clear: both;
}

/* par exemple, éditeur de picklist values */
.selectedListItem {
  background-color: #c9c5a8 !important;
}

/* ED150204 */
/* carré de couleur */
.picklistvalue-uicolor {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 4px;
	border-radius: 1px;
}

/* triangle d'alerte de surcharge d'occupation des véhicules ou chauffeurs */
.listViewEntries .busyState .ui-icon {
	display : inline-block;
	vertical-align: bottom;
}



/* pickListValuesTable Picklist settings */
.pickListValue .picklist-color {
  display: none;
  margin-right: 4px;
  width: 2.5em;
  height: 1.3em;
  /*border: 1px solid black;
  border-radius: 2px;*/
}
.properties-uicolor .pickListValue .picklist-color {
  display: inline-block;
}
.pickListValue .colorpicker-holder {
  height: 16px;
}
.pickListValue .colorpicker-holder div {
  height: 14px;
  background: none;
}
.picklistvalue-uicolor {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 1px;
}